@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* globals.css */


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif; /* Set Poppins as default font */
}



.my{
  min-width: max-content;
  inset: -50px -50px auto auto;
  transform: translate(-20.6667px ,60.000px, 0px);
}